Content-Type: multipart/mixed; boundary="//"
MIME-Version: 1.0

--//
Content-Type: text/cloud-config; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="cloud-config.txt"

#cloud-config
repo_update: true
repo_upgrade: all

cloud_final_modules:
- [scripts-user, always]

packages:
- amazon-efs-utils
- unzip

runcmd:
- file_system_id_01=${shared_file_system_id}
- efs_directory=/mnt/efs
- mkdir -p $${efs_directory}
- echo "$${file_system_id_01}:/ $${efs_directory} efs tls,_netdev" >> /etc/fstab
- mount -a -t efs defaults

--//
Content-Type: text/x-shellscript; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="userdata.txt"

#!/bin/bash

export REGION=${region}
export BUCKET=${render_bucket}
export FRAME_QUEUE=${frame_queue_url}
export PROJECT_INIT_QUEUE=${project_init_queue_url}
export ASG_NAME=${asg_name}

mkdir /worker
cd worker

aws s3 cp s3://${code_bucket}/farm_worker.zip farm_worker.zip
unzip farm_worker.zip

gem install bundler
bundle install
./bin/farm_worker


--//